.user{
	min-height:100px;
	padding:10px;
}
.photo{
	width:110px;
	height:110px;
	float:left;
}
.photo img{
	width:100px;
	height:100px;
	
}
.hr{
	width:100%;
	border-bottom:1px dotted #ccc;
	margin:auto;
}
p{
	margin:3px;
}
p span{
	color:#64a3af;
	font-size:11px;
	float:right;
}
.name{
	color:#444;
	font-size:12px;
}
.other{
	color:#777;
	font-size:12px;
}
.pages{
	text-align:center;
	padding:10px;
}
u{
	color:#1c5f6b;
	cursor:pointer;
	padding:10px;
}
.search{
	padding:10px;
	color:#548eaf;
	background-color:#e5eef4;
	border-bottom:1px solid #9ac3db;
}
.search input{
	height:24px;
	width:390px;
	padding: 1px 10px;
	border:1px solid #9ac3db;
}
.str{
	margin:0;
	color:#555;
	height:15px;
	padding:12px 10px;
	background-color:#e5eef4;
}
.str select, .str input{
	float:right;
	margin-top:-2px;
}
#city{
	width:120px;
	text-align:center;
	color:#555;
	border-radius:2px;
	border:1px solid #9ac3db;
	height:18px;
}
.str select{
	color:#555;
	border-radius:2px;
	border:1px solid #9ac3db;
}
.first{
	padding-top:10px;
}
.str:hover{
	background-color:#d8e6ef;
}
.hr2{	
	border-bottom:1px solid #9ac3db;
}
.sbros{
	text-align:center;
	padding:10px;
}
/*.photo img:hover{
	width:auto;
	height:auto;
	position:absolute;
	border:1px solid black;
	padding:10px;
	background-color:#fff;
}*/