html,body{
	height:100%;
	background-color:#eeeeee;
	font-family:verdana;
	font-size:12px;
	margin:0 3px;
	overflow-x:hidden;
	overflow-y:hidden;
	background-image:none;
}
#rooms{
	position:fixed;
	bottom:-1px;
	right:23px;
	background-color:#efefef;
	width:234px;
	height:89px;
	border:1px solid #000;
}
.bord{
	border: 1px solid black;
}
#left{
	height:100%;
	width: 80%;
	float: left;
	bottom:0;
}
#right{
	float: right;
	width: 20%;
	height:100%;
	margin-left:-5px;
	height:100%;
	position:relative;
}
#navibar{
	padding: 0;
	margin:0;
	background-color:#fdde8a;
	text-align:center;
}
#remote{
	border-top:1px solid black;
	border-bottom:1px solid black;
	height:46px;
}
#all,
#privat{
	overflow:hidden;
	padding:5px;
}
#all{
	padding:5px;
	margin:0;
	overflow-x:hidden;
	overflow-y:auto;
	font-family:verdana;
	font-size:11px;
	background-color:white;
	min-height:52%;
	background-image: url('../images/ten.png');
	background-position:top;
	background-repeat: repeat-x;
}
#privat{
	margin:0;
	overflow-x:hidden;
	overflow-y:auto;
	font-family:verdana;
	font-size:11px;
	background-color:white;
	height:140px;
	background-image: url('../images/ten.png');
	background-position:top;
	background-repeat: repeat-x;
}
#menu_all{
	padding: 2px;
	margin:0;
}
#menu_privar{
	margin:2px;
}
.left{
	float:left;
	margin:0 3px;
}
.first{
	margin-left: 10px;
}
.up_menu_pr{
	margin-top:-2px;
}
.up_filter_pr{
	margin-top:5px;
}
.img_menu{
	border: 1px solid #8ea2be;
	padding:1px;
	margin-top:1px;
	background-color:#e3ecf8;
	border-radius:2px;
}
.img_menu:hover{
	background-color:#d4dfef;
	border:1px solid #7d90ab;
}
.priveteMenu{
	float:left;
	margin:-2px 6px 0 6px;
	padding:1px;
	font-size:11px;
}
.priveteEdit{
	margin-left:200px;
	padding:1px;
	font-size:11px;
	cursor:pointer;
}
#users{
	background-color:white;
	overflow:auto;
	border-left:1px solid #000;
}
.str_send{
	padding:5px 5px 0px 5px;
}

#send{
	max-height:65px;
	position:fixed;
	margin:auto;
	bottom:0px;
	padding-right:235px;
	background-color:#c5dbe7;
	max-width:90%;
}
.menu{
	padding: 5px 25px;
	margin:0;
}
.menu:hover{
	background-color:#ffc45c;
}
.pointer{
	cursor:pointer;
}
#color-picker{
	width:80px;
}
#filterUser{
	float:right;
	color:#b2b2b2;
	margin-right:10px;
	font-size:11px;	
}
#newMes{
	float:right;
	padding:1px 3px;
	color:#666;
	margin-right:20px;
}
#newMes b{
	color:#000;
}

/*.buttonChat{
	margin:0px 2px;
	padding:3px 10px;
	background-color:#415387;
	border-radius:3px;
	border:1px solid #24335d;
	color:white;
	background-image:url(../images/new/statusbtn.png);
	text-shadow: 1px 1px 1px black, 0 0 0 #c64444;
}
.buttonChat:hover{
	background-color:#425488;
	background-image:url(../images/new/statusbtnh.png);
	cursor:pointer;
}
.buttonAll{
	background-color:#b84a00;
	border-radius:4px;
	border:1px solid #b84a00;
	color:white;
	background-image:url(../images/new/statusbtn2.png);
	text-shadow: 1px 1px 1px black, 0 0 0 #c64444;
}
.buttonAll:hover{
	background-color:#c46a00;
	background-image:url(../images/new/statusbtnh2.png);
	cursor:pointer;
}*/
a{
	color:#1f3c8c;
}
a:hover{
	color:#3e60c1;
}
#from{
	width: 150px;
	font-size:14px;
}
#s1{
	margin:1px;
}
#s2{
	margin:1px;
}
#text{
	width:95%;
}
#text,#from{
	margin-top:2px;
	height:28px;
	border:1px solid #7ba5be;
	border-radius:8px;
	padding:0 15px;
	margin-left:3px;
}
#colors{
	width:70px;
	display:none;
}
#sender{
	background-image:linear-gradient(#d7dbe3,#b8bdc7);
	background:-webkit-linear-gradient(top,#d7dbe3,#b8bdc7);
}
.input{
	border:1px solid #666;
	height: 19px;
	padding-left: 5px;
	border-radius:3px;
}
.sender_text{
	height: 23px;
	font-size:15px;
}
.count{
	padding:1px 4px;
	border:1px solid #888;
	border-radius:3px;
	background-color:#fff;
}
#u_all,#u_moder,#u_girls,#u_boys,#u_robots,#u_who{
	text-align:center;
	padding:5px;
	border-top:1px solid black;
	text-shadow:1px 1px 1px white;
}
#u_all{
	background-color:#99e083;
	
	/* Old browsers */
	 background:#99e083 -moz-linear-gradient(top,#99e083 0%,#7bc465 100%); 
	/* FF3.6+*/
	 background:#99e083 -webkit-gradient(linear,left top,left bottom,color-stop(0%,#99e083),color-stop(100%,#7bc465)); 
	/* Chrome,Safari4+*/
	 background:#99e083 -webkit-linear-gradient(top,#99e083 0%,#7bc465 100%); 
	/* Chrome10+,Safari5.1+*/
	 background:#99e083 -o-linear-gradient(top,#99e083 0%,#7bc465 100%); 
	/* Opera11.10+*/
	 background:#99e083 -ms-linear-gradient(top,#99e083 0%,#7bc465 100%); 
	/* IE10+*/
	 background:#99e083 linear-gradient(top,#99e083 0%,#7bc465 100%); 
	/* W3C */
}
#u_moder{
	background-color:#fcc378;
	
	/* Old browsers */
	 background:#fcc378 -moz-linear-gradient(top,#fcc378 0%,#e8a956 100%); 
	/* FF3.6+*/
	 background:#fcc378 -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcc378),color-stop(100%,#e8a956)); 
	/* Chrome,Safari4+*/
	 background:#fcc378 -webkit-linear-gradient(top,#fcc378 0%,#e8a956 100%); 
	/* Chrome10+,Safari5.1+*/
	 background:#fcc378 -o-linear-gradient(top,#fcc378 0%,#e8a956 100%); 
	/* Opera11.10+*/
	 background:#fcc378 -ms-linear-gradient(top,#fcc378 0%,#e8a956 100%); 
	/* IE10+*/
	 background:#fcc378 linear-gradient(top,#fcc378 0%,#e8a956 100%); 
	/* W3C */
}
#u_girls{
	background-color:#ff6ac2;
	
	/* Old browsers */
	 background:#ff6ac2 -moz-linear-gradient(top,#ff6ac2 0%,#fa46b0 100%); 
	/* FF3.6+*/
	 background:#ff6ac2 -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff6ac2),color-stop(100%,#fa46b0)); 
	/* Chrome,Safari4+*/
	 background:#ff6ac2 -webkit-linear-gradient(top,#ff6ac2 0%,#fa46b0 100%); 
	/* Chrome10+,Safari5.1+*/
	 background:#ff6ac2 -o-linear-gradient(top,#ff6ac2 0%,#fa46b0 100%); 
	/* Opera11.10+*/
	 background:#ff6ac2 -ms-linear-gradient(top,#ff6ac2 0%,#fa46b0 100%); 
	/* IE10+*/
	 background:#ff6ac2 linear-gradient(top,#ff6ac2 0%,#fa46b0 100%); 
	/* W3C */

}
#u_boys{
	background-color:#aaaff1;
	
	/* Old browsers */
	 background:#aaaff1 -moz-linear-gradient(top,#aaaff1 0%,#8990e5 100%); 
	/* FF3.6+*/
	 background:#aaaff1 -webkit-gradient(linear,left top,left bottom,color-stop(0%,#aaaff1),color-stop(100%,#8990e5)); 
	/* Chrome,Safari4+*/
	 background:#aaaff1 -webkit-linear-gradient(top,#aaaff1 0%,#8990e5 100%); 
	/* Chrome10+,Safari5.1+*/
	 background:#aaaff1 -o-linear-gradient(top,#aaaff1 0%,#8990e5 100%); 
	/* Opera11.10+*/
	 background:#aaaff1 -ms-linear-gradient(top,#aaaff1 0%,#8990e5 100%); 
	/* IE10+*/
	 background:#aaaff1 linear-gradient(top,#aaaff1 0%,#8990e5 100%); 
	/* W3C */
}
#u_robots{
	background-color:#ccc;
	
	/* Old browsers */
	 background:#ccc -moz-linear-gradient(top,#ccc 0%,#bebebe 100%); 
	/* FF3.6+*/
	 background:#ccc -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ccc),color-stop(100%,#bebebe)); 
	/* Chrome,Safari4+*/
	 background:#ccc -webkit-linear-gradient(top,#ccc 0%,#bebebe 100%); 
	/* Chrome10+,Safari5.1+*/
	 background:#ccc -o-linear-gradient(top,#ccc 0%,#bebebe 100%); 
	/* Opera11.10+*/
	 background:#ccc -ms-linear-gradient(top,#ccc 0%,#bebebe 100%); 
	/* IE10+*/
	 background:#ccc linear-gradient(top,#ccc 0%,#bebebe 100%); 
	/* W3C */
}
#u_who{
	background-color:#eee;
}
.girls,.boys,.robots{
	padding:3px 3px 4px 10px;
	height:29px;
	border-bottom:1px solid #edf1f7;
}
.girls:hover,.boys:hover,.robots:hover{
	background-color:#edf1f7;
}
/*Всплывающее окно*/
#infoobj{
	display:none;
	right:267px;
	top:75px;
	position:absolute;
	background-color:#bfccf2;
	border:1px solid black;
	text-align:center;
	padding:5px;
	margin:10px;
	z-index:3;
	border-radius:3px;
	font-size:11px;
}
/*Всплывающее окно статус*/
#status{
	display:none;
	top:100px;
	left:35%;
	position:absolute;
	background-color:#7187c5;
	border:1px solid #384772;
	padding:4px;
	margin:0;
	border-radius:3px;
	height: 300px;
	z-index:7;
	width:330px;
}
#titlestatus{
	text-align:center;
	float:left;
	margin:0;
	height:15px;
	width:295px;
	color:white;
	font-size:13px;
	font-weight: bold;
	padding:3px 10px;
	text-shadow: 1px 1px 1px black, 0 0 0 #c64444;
}
.closeStatus{
	margin-top:-18px;
	float:right;
	margin-right:7px;
}
#allStatus	{
	overflow-x:hidden;
	overflow-y:auto;
	height: 170px;
	background-color:white;
	border:1px solid #384772;
	width:325px;
	margin:auto;
	margin-top:28px;
}
#textarea_status{
	display:block;
	width:311px;
	border:1px solid #384772;
	font-family:verdana;
	height:50px;
	margin:auto;
	font-size:12px;
	color:#373737;
	padding:5px;
}
#mystatus{
	width:25px;
	text-align:center;
	height:25px;
	border:1px solid #384772;
	background-color:white;
	float:left;
	margin:3px;
}
.status_butt{
	float:right;
	margin:5px;
	padding:3px 10px;
	background-color:#415387;
	border-radius:3px;
	border:1px solid #24335d;
	color:white;
	background-image:url(../images/new/statusbtn.png);
	text-shadow: 1px 1px 1px black, 0 0 0 #c64444;
}
.status_butt:hover{
	background-color:#425488;
	background-image:url(../images/new/statusbtnh.png);
	cursor:pointer;
}
.statuscat{
	text-align:center;
}
.statuscat:hover{
	background-color:#e8eefd;
	cursor:pointer;
}
/*Всплывающее окно цвет*/
#color{
	position:absolute;
	border-radius:3px;
	background-color:#7187c5;
	border:1px solid #384772;
	padding:5px;
	width: 215px;
	max-height:200px;
	bottom:40px;
	z-index:5;
}
#titletop{
	text-align:center;
	float:left;
	margin:0;
	height:15px;
	width:180px;
	color:white;
	font-size:13px;
	font-weight: bold;
	text-shadow: 1px 1px 1px black, 0 0 0 #c64444;
}
#colors_menu{
	width: 200px;
	margin:auto;
	padding:5px;
	max-height:168px;
	border:1px solid #5a5a5a;
	background-color:white;
	border-radius:2px;
	overflow-x:hidden;
	overflow-y:auto;
}
.closeColor{ 
	text-align:right;
	margin:1px 2px 4px 1px;
}
#color{
display:none;
}
/*Всплывающее окно смайлы*/
#smile{
	display:none;
	top:100px;
	left:35%;
	position:absolute;
	background-color:#7187c5;
	border:1px solid #384772;
	text-align:center;
	padding:4px;
	margin:0;
	border-radius:3px;
	height: 300px;
	z-index:6;
}
.closeWin{ 
	text-align:right;
	margin:3px;
}
#editSmile{
	text-align:left;
	float:left;
	margin:0;
	cursor:move;
	height:15px;
	width:60%;
	color:white;
	font-size:13px;
	font-weight: bold;
	padding:3px 10px;
	text-shadow: 1px 1px 1px black, 0 0 0 #c64444;
}
#allSmile{
	overflow-x:hidden;
	overflow-y:auto;
	height: 232px;
	background-color:white;
	border:1px solid #384772;
}
#catSmile{
	background-color:#64729c;
	border:1px solid #384772;
	border-bottom:none;
	height:23px;
}
/*Категории смайлов*/
#sLeft{
	float:left;
	width:25px;
	padding: 4px 2px;
	margin-top:1px;
}
#sCenter{
	margin:3px 40px;
	padding:2px;
	color:white;
	width:100px;
}
#sRight{
	float:right;
	width:25px;
	margin-top:-23px;
	padding:4px 2px;
}
#sLeft:hover{
	background-color:#869bd6;
}
#sRight:hover{
	background-color:#869bd6;
}
.trsmile{
	width:25px;
}
.sMenu{
	float:left;
	padding:2px 3px;
	border:1px solid #384772;
	background-color:#869bd6;
	margin-top:2px;
}
.sMenu:hover{
	background-color:#9baee3;
}
#closePrivat{
	margin:1px 10px 0 0;
	float:right;
	height:20px;
	width:25px;
	text-align:center;
	border: 1px solid #8ea2be;
	background-color:#e3ecf8;
	border-radius:2px;
}
#closePrivat:hover{
	background-color:#d4dfef;
	border:1px solid #7d90ab;
}
.miniphoto{
	border:1px solid #384772;
	border-radius:2px;
}
.userinlistphoto{
	border-radius:2px;
}
.aut{
width: auto;
}
.sender_check{
	border: 1px solid #2d3a54;
	color:#2d3a54;
	padding:5px 2px 5px 10px;
	margin: 3px;
	text-align:center;
	float:left;
	border-radius:2px;
	background-color:#bbc9e3;
	text-shadow:1px 1px 1px #d7e0f1;
}
.sender_check:hover{
	border: 1px solid #192335;
	color:#192335;	
	background-color: #acbddd;
}
#smile_menu{
	background-image: url('../images/smile.png');
	width: 80px;
}
#status_menu{
	background-image:url(../images/button.png);
	width: 80px;
}
#smile_menu{
	background-image:url(../images/button.png);
	width: 80px;
}
#color_menu{
	background-image:url(../images/button.png);
	width: 80px;
}
#id_color, #id_color1{ /*цвет сообщения на кнопке*/
	width:15px;
	height:13px;
	margin-top:0px;
	border:1px solid black;
	float:left;
}
#id_status{
	max-width:16px;
	max-height:16px;
	margin:-1px;
	float:left;
}
#id_smile{
	max-width:16px;
	max-height:16px;
	margin:-1px;
	float:left;
}
#shop_menu{
	background-image: url('../images/shop.png');
	background-position:3px 2px;
	background-repeat: no-repeat;
	width: 90px;
}

.leftShop{
	float:left;
	margin-left: 50px;
	border:1px solid black;
	
}
.rightShop{
	margin:10px;
	margin-top:0;
	text-align:left;
	float:left;
	width:380px;
	height: 80px;
}
/*Тень сзади всплывающих окон*/
#shadow{
	display:none;
	background-image: url('../images/bg_lightbox.png');
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	margin-left:-6px;
	z-index:4;
}
/*список пользователей ники*/
.usersLeft{
	float:left;	
}
.usersRight{
	height:27px;
	float:left;
	width: 160px;
	margin-bottom:3px;
	font-size:11px;
	margin-left:5px;
}
.br2{
	height:3px;
	margin-top:-5px;
}
.usersPic{
	background-color:#a8b7d6;
	float:left;
	padding: 1px 2px;
	color:white;
	font-size:8px;
	text-align:center;
	margin-right:2px;
	border-radius:2px;	
	font-weight: bold;
	text-shadow: 1px 1px 1px #7e92bb, 0 0 0 #7e92bb;
	cursor:default;
}
.usersPicvip{
	background-color:#f0c000;
	float:left;
	padding: 1px 2px;
	color:white;
	font-size:8px;
	text-align:center;
	margin-right:2px;
	border-radius:2px;	
	font-weight: bold;
	text-shadow: 1px 1px 1px #d06c00, 0 0 0 #d06c00;
	cursor:default;
}
.usersPicno{
	float:left;
	padding: 1px 2px;
	text-align:center;
	margin-right:2px;
}
#l_line{
	margin:0 0 0 -6px !important;
}
.delet{
	cursor:pointer;
	color:red;
	width:9px;
	float:left;
	height:9px;
	margin:4px 5px 0 -3px;
	padding-right:2px;
}
.mes:hover{
	background-image: url(../images/closeMini.png);
	background-repeat:no-repeat;
	background-position:1px 5px;
}

/*Модер*/
.moder_butt{
	border:1px solid #b8c0d0;
	color:#b8c0d0;
	background-color:#c6cbd5;
}
.moder_butt:hover{
	border:1px solid #555;
	color:#555;
}
/*для градиента*/
.sender_check1, .sender_check2, .sender_check3{
	border: 1px solid #2d3a54;
	color:#16243f;
	padding:3px 5px;
	margin: 3px 0 3px 3px;
	text-align:center;
	float:left;
	border-right:none;
	background-image:url(../images/button.png);
	background-color:#bbc9e3;
	text-shadow:1px 1px 1px #d7e0f1;
}
.sender_check1{
	margin: 3px 0 3px 3px;
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
}
.sender_check2{
	margin: 3px 0;
	border-left:none;
	border-right:none;
}
.sender_check3{
	border: 1px solid #2d3a54;
	color:#2d3a54;
	padding:4px 5px 3px 5px;
	margin: 3px 3px 3px 0px;
	text-align:center;
	float:left;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	border-left:none;
	background-image:url(../images/button.png);
	text-shadow:1px 1px 1px #d7e0f1;
}
.sender_check3:hover,.sender_check2:hover,.sender_check1:hover{
	border: 1px solid #192335;
	color:#192335;	
	background-color: #9dadcc;
}
.sender_check3:hover{
	border-left:none;
}
.sender_check2:hover{
	border-left:none;
	border-right:none;
}
.sender_check1:hover{
	border-right:none;
}
#color_grad{
	position:absolute;
	border-radius:3px;
	background-color:#7187c5;
	border:1px solid #384772;
	padding:5px;
	width: 215px;
	max-height:200px;
	bottom:40px;
	display:none;
}
#colors_menu_grad{
	width: 200px;
	margin:auto;
	padding:5px;
	max-height:168px;
	border:1px solid #5a5a5a;
	background-color:white;
	border-radius:2px;
	overflow-x:hidden;
	overflow-y:auto;
}
.loadChat{
	width:40px;
	height:40px;
	background-image:url(../images/chat_load.gif);
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	left:50%;
	margin: 20px 0 0 -20px;
}
.loadChat2{
	width:200px;
	background-image:url(../images/chat_load.gif);
	background-position:center top;
	background-repeat:no-repeat;
	position:absolute;
	left:50%;
	margin: 20px 0 0 -100px;
	padding:40px 8px 8px 8px;
	border:1px solid #ccc;
	text-align:center;
	border-radius:3px;
	font-size:10px;
	color:#ccc;
}
.ch,.ch2{
	float:left;
	margin-right:5px;
}
.clear{
	display:block;
	margin:10px 0 0 10px;
	cursor:pointer;
	color:#2d3a54;
	text-shadow:1px 1px 1px #d7e0f1;
}