
#forma{
	margin:center;
	text-align:center;
	background-color:#e5eef4;	
	border-bottom:1px solid #9ac3db;
}
#forma input{
	border:1px solid #9ac3db;
	border-radius:2px;
} 
.regUrl{
	padding:10px;
	position:absolute;
	width:200px;
}
.str2 p{
	text-align:justify;
	padding:15px 25px;
	font-size:11px;
}
.left{
	text-align:center;
	padding:3px;
	display:block;
	width:100%;
}
.top_photo{
	display:block;
	text-align:center;
	border:1px dotted #ccc;
	padding:3px;
	border-radius:5px;
	margin: 0 20px;
	height:320px;
}
.top_photo span{
	display:block;
	padding:15px 3px;
	text-shadow: 5px 5px 10px #9ac3db
				,-5px -5px 10px #9ac3db
				,-5px 5px 10px #9ac3db
				,5px -5px 10px #9ac3db;
}
.photo{
	float:left;
	margin:4px;
}
.photo a img{	
	width:120px;
	border:1px solid black;
}
.photo a{
	color:white;
}
.photo div{
	background-image: url('../images/lightbox50.png');
	color:white;
	padding:1px;
	position:absolute;
	width:120px;
	height:15px;
	margin-top:-20px;
	font-size:11px;
}
.photo div:hover{
	background-color:#363636;
}