h3{
	display:block;
	background-color:#c5dbe7;
	padding:4px;
	margin:0;
	text-align:center;
	color: #417795;
	font-size:12px;
	border-top:1px solid #9ec4d4;
}
textarea{
	font-family:verdana;
	font-size:12px;
}
.str{
	padding:5px;
}
.str:hover{
	background-color:#e9ebf1;
}
.left{
	width:30%;
	display:block;
	float:left;
	margin-right:8px;
	text-align:right;
	padding:5px 0;
}
.input{
	text-align:center;
	width:150px;
	left:200px;
	border:1px solid #999;
	padding:2px;
}
.input_min{
	text-align:center;
	left:200px;
	border:1px solid #999;
	padding:2px 4px;
}
.br2{
	margin:10px;
}
.center{
	text-align:center;
	padding:5px;
	margin:5px;
}
.w500{
	width:575px;
	float:left;
	margin-left:-5px;
}
.brBottom{
	margin-top:20px;
}
.photo{
	max-width: 400px;
	max-height: 500px;
}
.small{
	font-size:11px;
	color:#999;
}
#edit_form{
	display:none;
	text-align:center;
}
/* װמעמאכבמל */
#edit_photoalbom{
	text-align:center;
	cursor:pointer;
	padding:20px;
	background-color:#9ec4d4;
	background-image: url('../images/edit.png');
	background-repeat: no-repeat;
	background-position: 175px center;
	color:#fff;
	font-weight:bold;
	text-shadow:1px 1px 1px #4177b1, 0 0 0 #4177b1;
}
#edit_photoalbom:hover{
	background-color:#82afc2;
}
.albom_div_all{
	float:left;
	width:110px;
	height:130px;
	border:1px solid #5f5f5f;
	margin:12px;
	text-align:center;
	font-size:11px;
	padding:3px;
	padding-bottom:0;
}

.min{
	margin:-3px;
	padding-top:4px;
}
.min:hover{
	background-color:#e7f2f7;
}
.countPhoto{
	font-size:9px;
}
.title_albom_block{
	background-color:#5f5f5f;
	cursor:pointer;
	color:white;
	padding:3px;
	width:112px;
	margin-top:-12px;
	position:absolute;
	z-index:3;
}
.title_albom_block:hover{
	background-color:#363636;
}
.delete_albom{
	margin-top:-4px;
	margin-left:96px;
	width:15px;
	height:15px;
	padding:2px;
	background-color:#5f5f5f;
	background-image: url(../images/closeMiniWhite.png);
	background-repeat:no-repeat;
	background-position: center;
	position:absolute;
	cursor:pointer;
	border-bottom:1px solid white;
	border-left:1px solid white;
	
}
.delete_albom:hover{
	background-color:#363636;
}
#albom_text{
	padding:3px;
	color:#414141;
	width:420px;
	margin-bottom:10px;
	height:54px;
	margin:5px;
	border:1px solid #afafaf;
}
.albom_img{
	max-height:105px;
	max-width:105px;
}
.save_text_albom{
	height:60px;
	margin:5px;
	border:1px solid #afafaf;
	background-color:white;
	cursor:pointer;
	color:#afafaf;
	padding: 0 10px;
}
.border_albom_photo{
	height:100px;
	cursor:pointer;
	margin:4px;
	margin-bottom:5px;
}
.str2{
	margin:5px;
}

/*װמעמדנאפטט*/

.photo_div_all{
	float:left;
	width:130px;
	height:130px;
	border:1px solid #5f5f5f;
	margin:5px 0 5px 10px;
	text-align:center;
	font-size:11px;
	padding-bottom:0;
	cursor:pointer;
}
.photo_div_all:hover{
	background-color:#edf9ff;
}
.val{
	line-height: 210px;
	vertical-align: middle;
}
.photo_img{
	max-height:130px;
	max-width:130px;
}
.delete_photo{
	margin-left:113px;
	width:15px;
	height:15px;
	padding:3px;
	background-color:#5f5f5f;
	background-image: url(../images/closeMiniWhite.png);
	background-repeat:no-repeat;
	background-position: center;
	position:absolute;
	border-bottom:1px solid white;
	border-left:1px solid white;
	border-radius:10px;
	margin-top:-4px;
}
.delete_photo:hover{
	background-color:#363636;
}
.photo_big{
	max-width:500px;
	max-height:500px;
	min-width:100px;
	min-height:210px;
}
.photo_center{
	width:500px;
	margin:auto;
	text-align:center;
	margin-top:20px;
	margin-bottom:10px;	
}
#border_photo_big{
	min-height: 400px;
	min-width: 400px;
	background-image: url(../images/loading.gif);
	background-repeat:no-repeat ;
	background-position: center;
}
.edit_photo{
	text-align:center;
}
#photo_text{
	width:450px;
	height:40px;
	color:#888;
	border:1px solid #bbb;
	border-radius:3px;
	padding:3px;
}
.delete_photo_butt{
	padding-left:25px;
	background-image: url(../images/delete.png);
	background-repeat:no-repeat ;
	background-position: 5px 3px;
}
.nophoto-albom{
	margin-top:100px;
}
#prev, #next{
	display:none;
	height:400px;
	position:absolute;
	margin:0;
	width:100px;
	background-repeat:no-repeat ;
	background-position: center;
	cursor:pointer;
	border-radius:10px;
}
#prev{
	background-image: url(../images/prev2.png);
	margin-left:-20px;
}
#prev:hover{
	background-image: url(../images/prev.png);
}
#next{
	background-image: url(../images/next2.png);
	left:50%;
	margin-left:280px;
}
#next:hover{
	background-image: url(../images/next.png);
}
